@import "tailwindcss";

@theme {
  --font-geist-sans: var(--font-geist-sans);
  --font-haviland-cursive: var(--font-haviland-cursive);
}

body {
  font-family: var(--font-geist-sans);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.fade-on-scroll {
  animation-name: fade-in;
  animation-timing-function: linear;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

@keyframes fade-in {
  0% { opacity: 0; translateY: 10px; }
  50% { opacity: 0.5; translateY: 5px; }
  100% { opacity: 1; translateY: 0px; }
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: view()) {
    .fade-in-on-scroll {
      animation: fade-in linear ease-in-out both;
      animation-timeline: view();
      animation-range: entry 0% entry 100%;
    }
  }
}